# our main executables
gunrock_web
mkfs
ds3ls
ds3cat
ds3bits
ds3mkdir
ds3touch
ds3cp
ds3rm
tests-out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app
